:root{
    --raio: 18em; /* 12em = half the width of the wrapper */
    --reio: 9em;
}
.container > h1{
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 64px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
}

p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.4;
    text-indent: 1.5em;
    margin-left: 2%;
    margin-right: 2%;
}

.container{
    height: auto;
    margin: 60px auto !important;
    display: flex;
    justify-content: center;
}
.descricaoChakra{
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

.hero-image{
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: black;
}

.hero-text > h1{
    margin: 0;
    line-height: 100px;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 2px;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 50px;
    font-family: pt-sans-bold;   
    
}

.wrapper-chakra{
    position: relative;
    height: 48em !important;
    width: 48em !important;
    border-radius: 50%;  
    margin: 0 auto;
}

section{
    width: 100% !important;
    padding: 0 !important;
    border-radius: 0 0 10px 10px !important;
}

.img-chakra{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.5em !important;
    height: 6.5em!important;
    margin: -3.25em;
    background-color: black;
    cursor: pointer;
    z-index: 1;
}

.yin{
    position: absolute;
    left: -10%;
    top:30%;
}

.yang{
    position: absolute;
    left: -10%;
    top:70%;
}

.yin-yang{
    position: absolute;
    left: -10%;
    top:50%;
}

.yin-yang img:nth-child(2){
    margin: 50px 0;
}

.yin-yang > img{
    width: 6.5em;
    height: 6.5em;
}

.wrapper-chakra img{
    display: block;
}



.deg0{
    transform: translate(var(--raio)) !important;
}

.deg36{
    transform: rotate(36deg) translate(var(--raio)) rotate(-36deg);
}

.deg72{
    transform: rotate(72deg) translate(var(--raio)) rotate(-72deg);
}

.deg108{
    transform: rotate(108deg) translate(var(--raio)) rotate(-108deg);
}
.deg144{
    transform: rotate(144deg) translate(var(--raio)) rotate(-144deg);
}
.deg180{
    transform: rotate(180deg) translate(var(--raio)) rotate(-180deg);
}

.deg216{
    transform: rotate(216deg) translate(var(--raio)) rotate(-216deg);
}

.deg252{
    transform: rotate(252deg) translate(var(--raio)) rotate(-252deg);
}
.deg288{
    transform: rotate(288deg) translate(var(--raio)) rotate(-288deg);
}

.deg324{
    transform: rotate(324deg) translate(var(--raio)) rotate(-324deg);
}


.den0{
    transform:  rotate(72deg) translate(var(--reio)) rotate(-72deg);
}

.den72{
    transform: rotate(144deg) translate(var(--reio)) rotate(-144deg);
}

.den144{
    transform: rotate(216deg) translate(var(--reio)) rotate(-216deg);
}

.den216{
    transform: rotate(288deg) translate(var(--reio)) rotate(-288deg);
}

.den288{
    transform: rotate(360deg) translate(var(--reio)) rotate(-360deg);
}

svg{
   background-color: transparent;
   position: absolute;
   width: 100%;
   height: 100%;;
   z-index: 0; 
}
line{
    stroke:rgb(7, 1, 1);
    stroke-width: 3.5px;
    transition: all 0s;
   
}

line:hover {    
    stroke-width: 9px;
    stroke-opacity: 50%;
}

.jinton:hover ~ svg .suiton{
    stroke-width: 9px;
    stroke-opacity: 50%;

}