
.wrapper-chakra{
    position: relative;
    height: 48em !important;
    width: 48em !important;
    padding: 6.65em; /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
    border-radius: 50%;
    margin: 1.75em auto 0;
    display: none;
}