html{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav{
    background-image: linear-gradient(to bottom, #FFB252, #FF9331);
    box-sizing: border-box;
    border-radius: 12px;
    width: 930px;
    display: flex;
    align-items: center;
    padding: 20px;
}

nav a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}

nav ul{
    display: flex;
}

nav ul > li{
    display: flex;
    margin:  0 30px 0 30px;
    font-family: "Times New Roman", Times, serif;
}

nav ul > li:last-child{
    margin-right: 50px;
}

.img-circle{
    width: 45px;
    height: 45px;;
    border: 2px solid black;
    border-radius: 50%;
}

#Vs{
    margin: 0 30px 0 30px;
    height: 40px;
    height: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}