html{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    /*background-image: url("Resources/background.jpg");
    background-repeat: repeat-y;*/
}

nav{
    background-image: linear-gradient(to bottom, #FFB252, #FF9331);
    box-sizing: border-box;
    border-radius: 12px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 0 ;
}

a:hover{
    background: #ED892E;
    box-shadow: 0 0 20px orange;
}

nav ul{
    display: flex;
    width: 100%;
    padding-left: 0;
}

nav ul > li{
    display: flex;
    font-family: "Times New Roman", Times, serif;
}

.navigator > li:last-child{
    margin-right: 50px;
}

.navigator a{
    text-decoration: none;
    color: black;
    padding: 30px 30px 30px 30px;
    width: 90.2px;
    text-align: center;
    transition: all 1s;
}

#nav-first-link{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

.img-circle{
    width: 45px;
    height: 45px;;
    border: 0.5px solid black;
    border-radius: 50%;
}

#sasukeFDP_id{
    margin-right: 40px;
}

#Vs{
    margin: 0 30px 0 30px;
    height: 40px;
    height: 40px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}