.container{
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}

.akatsuki-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .texto-central{
    text-align: center;
    position: relative;
    top: -150px;
}

.akatsuki-group > img{
    width: auto;
    height: 270px;
}

.akatsuki-group > img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px white);
    padding: 0 50px;
}