:root{
    --raio: 18em; /* 12em = half the width of the wrapper */
    --reio: 9em;
}

.container{
    width: 100% !important;
    height: 800px;
    margin-top: 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row !important;
    justify-content: center;
}
.container-area{
   
}

.wrapper-chakra{
    position: relative;
    height: 48em !important;
    width: 48em !important;
    border-radius: 50%;  
}

.img-chakra{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.5em !important;
    height: 6.5em!important;
    background-color: black;
    cursor: pointer;
    z-index: 1;
}

.yin{
    position: absolute;
    left: 15%;
    top:30%;
}

.yang{
    position: absolute;
    left: 15%;
    top:70%;
}

.yin-yang{
    position: absolute;
    left: 15%;
    top:50%;
}

/*.yin-yang{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
}*/

.yin-yang img:nth-child(2){
    margin: 50px 0;
}

.yin-yang > img{
    width: 6.5em;
    height: 6.5em;
}

.wrapper-chakra img{
    display: block;
}

.deg0{
    transform: translate(var(--raio)) !important;
}

.deg36{
    transform: rotate(36deg) translate(var(--raio)) rotate(-36deg);
}

.deg72{
    transform: rotate(72deg) translate(var(--raio)) rotate(-72deg);
}

.deg108{
    transform: rotate(108deg) translate(var(--raio)) rotate(-108deg);
}
.deg144{
    transform: rotate(144deg) translate(var(--raio)) rotate(-144deg);
}
.deg180{
    transform: rotate(180deg) translate(var(--raio)) rotate(-180deg);
}

.deg216{
    transform: rotate(216deg) translate(var(--raio)) rotate(-216deg);
}

.deg252{
    transform: rotate(252deg) translate(var(--raio)) rotate(-252deg);
}
.deg288{
    transform: rotate(288deg) translate(var(--raio)) rotate(-288deg);
}

.deg324{
    transform: rotate(324deg) translate(var(--raio)) rotate(-324deg);
}


.den0{
    transform:  rotate(72deg) translate(var(--reio)) rotate(-72deg);
}

.den72{
    transform: rotate(144deg) translate(var(--reio)) rotate(-144deg);
}

.den144{
    transform: rotate(216deg) translate(var(--reio)) rotate(-216deg);
}

.den216{
    transform: rotate(288deg) translate(var(--reio)) rotate(-288deg);
}

.den288{
    transform: rotate(360deg) translate(var(--reio)) rotate(-360deg);
}

svg{
   background-color: transparent;
   position: absolute;
   width: 100%;
   height: 100%;;
   z-index: 0; 
}
line{
    stroke:rgb(7, 1, 1);
    stroke-width: 3.5px;
    transition: all 0s;
   
}

line:hover {    
    stroke-width: 9px;
    stroke-opacity: 50%;
}
