section{
    width: 800px !important;
    padding: 30px 70px !important;
    position: relative;
}

section h1{
    text-shadow: 2px 2px rgb(150, 148, 148);
    font-size: 48px;
}

section > p{
    text-indent: 80px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 22px;
}

.personagem{
    margin: -185px;
    z-index: 10;
    background: url(../Resources/Naruto.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 14px;
    width: 280px;
    height: 520px;
}

@media screen and (min-width: 1200px){
    .container{
        width: 1100px;
    }
}

@media screen and (max-width: 1199px){
    nav > ul{
        display: none;
    }  
    header nav{
        margin-left: 10px;  
        width: 100%;
    }
    .responsive-menu{
        display: flex;
        width: 100%;
        margin-right: 10px;
        flex-direction: row;
        justify-content: flex-start;
    }
    .icon{
        display: block;
    }
    .nav.responsive .icon{
        position: absolute;
        right: 10px;
        top: 14px;
    }

    .container{
        width: 900px !important;
    }
}

@media screen and (max-width: 991px){
    nav > ul{
        display: none;
    }  
    .navigator-right{
        width: auto;
    }  
    .responsive-menu{
        display: flex;
        width: 100%;
        margin-right: 10px;
        flex-direction: row;
        justify-content: flex-start;
    }
    .icon{
        display: block;
    }
    .section{
        width: 700px !important;
    }
}

@media screen and (max-width: 767px){
    .sidenav{
        padding-top: 50px;
    }
    .sidenav a{
        font-size: 18px;
    }
    nav > ul{
        display: none;
    }  
    .navigator-right{
        width: auto;
    }  
    .container-voto{
        width: 100px;
        margin: 20px;
    }
    .responsive-menu{
        display: flex;
        width: 100%;
        margin-right: 10px;
        flex-direction: row;
        justify-content: flex-start;
    }
    .icon{
        display: block;
    }
    .img-circle{
        margin: 0 5px;
    }
    .characterName{
        display: none;
    }
    .container-area{
        font-size: 0.7em;
    }
    .section{
        width: 500px !important;
    }
}

@media screen and (max-width: 360px){
    .sidenav{
        padding-top: 50px;
    }
    .sidenav a{
        font-size: 18px;
    }
    nav > ul{
        display: none;
    }  
    .navigator-right{
        width: auto;
    }  
    .container-voto{
        width: 100px;
        margin: 20px;
    }
    .responsive-menu{
        display: flex;
        width: 100%;
        margin-right: 10px;
        flex-direction: row;
        justify-content: flex-start;
    }
    .icon{
        display: block;
    }
    .img-circle{
        margin: 0 5px;
    }
    .characterName{
        display: none;
    }
    .container-area{
        font-size: 0.7em;
    }
    .container{
        width: 100% !important;
    }
}
