@font-face{
    font-family: narutoFont;
    src: url(../Resources/Fontes/njnaruto.ttf);
}

@font-face{
    font-family: Lato;
    src: url(../Resources/Fontes/Lato-Regular.ttf);
}

body{
    margin: 0;
    margin-top: 80px;
    padding: 0;
    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.99);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover {
    background: rgb(61, 59, 56);
    box-shadow: 0 0 20px rgb(61, 59, 56);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    padding: 0;
    height: 50px;
    width: 60px;
    text-align: center;

}

header{
    position: fixed;
    display: flex;
    top: 0;
    justify-content: center;
    min-width: 100%;
    background: rgba(0,0,0,.99);
    z-index: 1;
}

header a{
    font-size: 18px;
    line-height: 24px;
}

nav{
    display: flex;
    max-width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

nav ul{
    display: flex;
}

nav ul > li{
    display: flex;
    text-decoration: none;
}

.navigator{
    padding: 0;
}

.navigator a{
    text-decoration: none;
    color: white;
    padding: 30px 30px 30px 30px;
    width: 90.2px;
    height: 20px;
    text-align: center;
}

.navigator a:hover{
    background: rgb(61, 59, 56);
    box-shadow: 0 0 20px rgb(61, 59, 56);
}

.navigator-right{
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon{
    display: none;
}

#menu-icon{
    width: 50px;
    height: 50px;
}

.img-circle{
    width: 60px;
    height: 60px;;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
    transition: all 0.5s;
}

.img-circle:hover{
    box-shadow: 0 0 20px white;
}

#Vs{
    align-self: center;
    margin: 0 30px 0 30px;
    height: 40px;
    height: 40px;
}

.characterName{
    align-items: center;
    margin: 0 15px 0 15px;
}

.characterName p{
    font-family: narutoFont !important;
    background: linear-gradient(to right, rgba(245,163,0,1) 0%, rgba(219,66,20,1) 22%, 
    rgba(245,163,0,1) 42%, rgba(219,66,20,1) 61%, rgba(245,163,0,1) 83%, rgba(219,66,20,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#votacao{
    display: none;
    margin-left: 10px;
    padding-right: 15px;
}

.container-voto{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 150px;
    background-color: #411f75; 
    border-radius: 6px;
    margin: 20px;
    font-size: 0.8em;
}

.img-circle[id]{
    cursor: pointer;
}

.votosNaruto{
    text-align: center;
    line-height: 25px;
    color: white;
    background-color: #eb6300;
    height: 100%;
    border-radius: 6px;
    z-index: 1;
}

.votosSasuke{
    text-align: center;
    line-height: 25px;
    color: white;
    background-color: #411f75;
    height: 100%;
    border-radius: 6px;
}

.container-area{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;    
}

.container{
    margin-top: 40px;
    margin-right: 1em;
    margin-left: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.container section{
    align-self: center;
    background-color: #fff;
    width: 100%;
    height: 600px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: block;
    box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

section > *{
    text-align: center;
    padding: 10px;
}

@media screen and (min-width: 1200px){
    .container{
        width: 1100px;
    }
}

@media screen and (max-width: 1199px){
    nav > ul{
        display: none;
    }  
    header nav{
        margin-left: 10px;  
        width: 100%;
    }
    .responsive-menu{
        display: flex;
        width: 100%;
        margin-right: 10px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .icon{
        display: block;
    }
    .nav.responsive .icon{
        position: absolute;
        right: 10px;
        top: 14px;
    }

    .container{
        width: 900px;
    }
}

@media screen and (max-width: 991px){
    nav > ul{
        display: none;
    }  
    .navigator-right{
        width: auto;
    }  
    .responsive-menu{
        display: flex;
        width: 100%;
        margin-right: 10px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .icon{
        display: block;
    }
    .container{
        width: 700px;
    }
}

@media screen and (max-width: 767px){
    .sidenav{
        padding-top: 50px;
    }
    .sidenav a{
        font-size: 18px;
    }
    nav > ul{
        display: none;
    }  
    .navigator-right{
        width: auto;
    }  
    .container-voto{
        width: 100px;
        margin: 20px;
    }
    .responsive-menu{
        display: flex;
        width: 100%;
        margin-right: 10px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .icon{
        display: block;
    }
    .img-circle{
        margin: 0 5px;
    }
    .characterName{
        display: none;
    }
    .container-area{
        font-size: 0.7em;
    }
    .container{
        width: 500px;
    }
}

@media screen and (max-width: 360px){
    .sidenav{
        padding-top: 50px;
    }
    .sidenav a{
        font-size: 18px;
    }
    nav > ul{
        display: none;
    }  
    .navigator-right{
        width: auto;
    }  
    .container-voto{
        width: 100px;
        margin: 20px;
    }
    .responsive-menu{
        display: flex;
        width: 100%;
        margin-right: 10px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .icon{
        display: block;
    }
    .img-circle{
        margin: 0 5px;
    }
    .characterName{
        display: none;
    }
    .container-area{
        font-size: 0.7em;
    }
    .container{
        width: 100%;
    }
}

footer {
    display: flex;
    background: rgba(0,0,0,.99);
    width: 100%;
    padding: -5px 0;
    justify-content: space-around;
    color: white;
    position: relative;
    bottom: 0;
}
