.container > h1{
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 64px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
}

section{
    width: 800px !important;
}

article{
    padding: 0 80px;
}

article p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.4;
}

.capitalize{
    display: inline-block;
    margin-top: 12px;
    margin-right: 5px;
    margin-bottom: 0;
    float: left;
    font-size: 100px;
    line-height: 60px;
    font-weight: 700;
    text-transform: uppercase;
}